@page "/Courses/ControlCourse"
@model LMS.Pages.CoursesModel
@{
    Layout = "_Layout";
}

<div class="container customContainer LabWorkContainer">

     <div aria-label="breadcrumb">
            <ol class="mybreadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/index">Домой </a>
                </li>
                <li class="breadcrumb-item not-active" aria-current="page">
                    Курсы
                </li>
            </ol>
        </div>
</div>



