@page "{handler?}"
@model LMS.Pages.ManageCourseModel
@{
    Layout = "_Layout";
}

<div class="container customContainer LabWorkContainer">

     <div aria-label="breadcrumb">
            <ol class="mybreadcrumb">
                <li class="breadcrumb-item">
                <a href="~/index">На главную</a>
                </li>
                <li class="breadcrumb-item not-active" aria-current="page">
                @Model.Cur_Course.Name
                </li>
            </ol>
        </div>
</div>





