@page
@model LMS.Pages.CoursesModel
@{
    Layout = "_Layout";
}

<div class="container customContainer LabWorkContainer">

     <div aria-label="breadcrumb">
            <ol class="mybreadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/index">Домой </a>
                </li>
                <li class="breadcrumb-item not-active" aria-current="page">
                    Курсы
                </li>
            </ol>
        </div>
</div>
<div class="d-flex d-flex align-items-end" style="justify-content: space-between;">
        <div class="myHeadingPage">
            Курсы
        </div>
        <div>
            <button class="btn custom btn-success btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Добавить курс</button>
        </div>
</div>

<div class="MainContainerCourse">
@foreach (var item in Model.Courses)
{
        <div class="ContainerCourse">
            @item.Name
            Количество участников @item.Users.Count()
            Количество заданий    @item.LaboratoryWorks.Count();
        </div>

}
</div>

