@page
@model LMS.Pages.PrivacyModel
@{
    Layout = "_Layout";
}
<h1>О программе</h1>

<p>Система управления обучением программированию</p>
<p>Разработанный программный продукт предназначен для автоматизации процесса отправки и хранения исходных кодов программных продуктов студентов.
Проектируемая система представляет собой веб приложение и на текущем этапе обеспечивает выполнение следующих основных функций:</p>
 <ul>
                <li>Программа должна предоставлять возможность создания/удаления git репозиториев.</li>
                <li>Позволять просматривать список уже созданных репозиториев</li>
                 <li>Позволять скачивать репозитории</li>
                  <li>Позволять вносить изменения в файлы внутри репозитория</li>
</ul>

  <hr />

  <h1>О разработчике</h1>

  <p>Разрабочик - Ягафаров Т.Р Студент ДИПРб-41</p>