@using LMS.EntityСontext
@model Variant
@{

}


<div class="container-fluid ">
    <div class="col text-center">
        <form asp-page="ManageTask" asp-page-handler="UpdateVariant" method="post">
            <div class="input-group">
                <label class="mr-sm-2">Номер варианта:</label>
                <input class="form-control" asp-for="@Model.VariantNumber" type="number" min="1" value="1" />
            </div>
            <div class="input-group">
                <label class="mr-sm-2">Описание варианта:</label>
                <textarea class="form-control" asp-for="@Model.Description" style="width: 100%; height: 500px;"></textarea>
            </div>
            <button type="submit" class="btn btn-success ">Изменить</button>
        </form>
    </div>


</div>
<div class="modal-footer"><button class="btn btn-default" type="button" data-bs-dismiss="modal">Закрыть</button></div>