@using LMS.Extensions
@using LMS.Models

@model BlobModel

@{
    Layout = "_Layout";
    ViewBag.Title = Model.Name;
}

@if(Model.IsBinary)
{
	<p> Этот файл имеет только бинарное представление и не может быть отображен</p>
}
else
{
    <div class=" border pt-2">
        <pre><code>@Model.Content</code></pre>
    </div>
    
    
}


<script src="~/lib/highlight.js/highlight.min.js"></script>
<script src="~/lib/highlightjs-line-numbers.js/highlightjs-line-numbers.min.js"></script>
<script>hljs.highlightAll();</script>
<script>
    $(document).ready(function () {
        addCss()
        $('pre code').each(function (i, block) 
        {
            hljs.lineNumbersBlock(block);
        });
    });

        

</script>